body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:#f4f6f8;
}

.bank-container {
  width: 80%;
  max-width: 900px;
  margin: 50px auto;
}

.bank-container h1 {
  text-align: center;
  margin-bottom: 30px;
 color: blue;
}

.account-card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.account-card h2 {
  margin-top: 0;
  color: blue
  
}

.account-card p {
  font-size: 18px;
}

.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #f4f6f8;
  border-radius: 10px;
}

.balance span {
  font-size: 28px;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.actions button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.actions button:hover {
  opacity: 0.8;
  color:blue;
}