.profile{
    width: 700px;
    height: auto;
    background-color:beige ;
    border:5px solid blueviolet;
    margin:50px auto;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.profile h2{
    color:blueviolet;
    font-size: 30px;
}

.profile p {
    color: gray;
    font-size: 20px;
    text-align: justify;
}

body {
    background-color: lightgray;
    font-family:'Times New Roman', Times, serif;



}
.profile h3{
    color:#000fff;
    text-transform: uppercase;
    text-decoration: underline;
}
