.profile{

    width:700px;

    background-color:beige;

    border:5px solid blueviolet;

    margin:50px auto;

    border-radius:20px;

    padding:20px;

}


.profile h2{

    text-align:center;

    color:blueviolet;

}


.content{

    display:flex;

    align-items:center;

    gap:30px;

}


.profile img{

    width:200px;

    height:200px;

    border-radius:50%;

    object-fit:cover;

}


.bio-section{

    flex:1;

}


.bio-section h3{

    color:#000fff;

    text-transform:uppercase;

}


.bio